body{
  background-image: url(assets/customers02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;
}
.clock{
  color: blue;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 5px hsl(0,0,0,0.1) ;
}